table,th,td{
    border: 2px solid;
}

th{
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-color: black;
}
table{
    margin-left: 350px;
    text-align: center;
    border-collapse: collapse;
}